.m-box-menu {
  margin: auto;
  max-width: @max-width;
  padding: 0.5em;

  &__item-container {
    margin: auto;
    max-width: @device-width-large;
  }

  &__item-container-inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding: 1% 0;
    width: 100%;

    @media (min-width: @device-width-medium) {
      padding: 1%;
      width: 50%;
    }
  }

  &__item-details {
    padding: 1em;
  }

  &__item-title {
    font-size: 1.5em;
  }

  &__item-body {
    margin-top: 1em;
  }

  &__item-duration {
    margin-top: 1em;
  }

  &__item-button {
    margin-top: 1em;
  }
}
