<div class="menu-container" role="region" aria-label="{{_globals._accessibility._ariaLabels.menu}}" {{#if _globals._accessibility._ariaLabels.menu}}tabindex="0"{{/if}}>
	<div class='menu-container-inner box-menu-inner clearfix'>
		{{#if title}}
		<div class="menu-title">
			<div class="menu-title-inner h1" role="heading" aria-level="1">
				{{{a11y_text title}}}
			</div>
		</div>
		{{/if}}
		{{#if body}}
		<div class="menu-body">
			<div class="menu-body-inner">
				{{{a11y_text body}}}
			</div>
		</div>
		{{/if}}
	</div>
</div>