{{import_globals}}
<div class="menu-container">
	<div class='menu-container-inner box-menu-inner clearfix'>
		<div class="menu-header">
			<div class="menu-header-inner">
				{{#if displayTitle}}
				<div class="menu-title">
					{{#unless _disableAccessibleState}}
						<div class="js-heading"></div>
					{{/unless}}
					<div class="menu-title-inner h1" {{#unless _disableAccessibleState}}aria-hidden="true"{{/unless}}>
						{{{compile displayTitle}}}
					</div>
				</div>
				{{/if}}
				{{#if body}}
				<div class="menu-body">
					<div class="menu-body-inner">
						{{{compile body}}}
					</div>
				</div>
				{{/if}}
			</div>
		</div>
		<div class="js-children" role="list">

		</div>
	</div>
</div>
